.m-dialog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(132, 139, 145, 0.452);
    display: none;
    z-index: 10;
}
.m-dialog .m-dialog-content{
    position: absolute;
    width: 800px;
    background-color: blanchedalmond;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    padding: 24px;
}
.m-dialog .m-dialog-header{
    width: 100%;
    /* padding: 24px; */
    display: flex;
    align-items: center;
}
.m-dialog .m-dialog-header .m-dialog-title{
    font-size: 24px;
}
.m-dialog .m-dialog-header label{
    font-family: Googlesand Regular ;
}
.m-dialog .m-dialog-header button.m-dialog-close{
    position: absolute;
    text-align: center;
    /* font-size: 20px;
    color: red; */
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* border: none;
    background-color: blanchedalmond; */
}

.m-dialog .m-dialog-header button.m-dialog-close:hover{
   /* background-color: #ccc; */

}
.m-dialog .m-dialog-footer{
    display: flex;
    /* padding: 24px; */
    margin-top: 16px;
}
.m-dialog .m-dialog-footer .m-dialog-footer-left{
    
}
.m-dialog .m-dialog-footer .m-dialog-footer-right{
   
    text-align: right;
    width: 100%;
    height: 56px;
   
    box-sizing: border-box;
    right: 0;
    bottom: 0;
}
.m-dialog .m-dialog-empty-content{
    position: absolute;
    width: 400px;
   
    background-color:white;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    padding: 24px;
    
}
.m-dialog .m-dialog-empty-content .m-dialog-empty-header{
   line-height: 50px;
    border-bottom: 1px solid #333;
    height:50px ;
    
}
.m-dialog .m-dialog-empty-content .m-dialog-empty-btn{
    text-align: center;
    margin: 20px;
}

.m-dialog .m-dialog-exits-code-content{
    position: absolute;
    width: 400px;
    background-color:white;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    padding: 24px;
    
}
.m-dialog .m-dialog-exits-code-content .m-dialog-exits-code-header{
  
    border-bottom: 1px solid #333;
    height:50px ;
    word-wrap: break-word;
    
}
.m-dialog .m-dialog-exits-code-content .m-dialog-exits-code-btn {
    
   text-align: right;

}
.m-dialog .m-dialog-exits-code-content .m-dialog-exits-code-btn button{
   margin:20px 0;
}
.m-dialog .m-dialog-confirm-del-content{
    position: absolute;
    width: 400px;
    background-color:white;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    padding: 24px;
    
}
.m-dialog .m-dialog-confirm-del-content .m-dialog-confirm-del-header{
    border-bottom: 1px solid #333;
    height:50px ;
    word-wrap: break-word;
    position: relative;
}
.m-dialog .m-dialog-confirm-del-content .m-dialog-confirm-del-btn
{
    display: flex;
    
}
.m-dialog .m-dialog-confirm-del-content .m-dialog-confirm-del-btn button{
    margin-top: 20px;
    /* text-align: center; */
}
.m-dialog .m-dialog-confirm-del-content .m-dialog-confirm-del-btn .m-dialog-confirm-del-yes {
   right: 20px;
   position: absolute;
}

 

