.m-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.m-icon-notice{
    background-position: center;
    flex-shrink: 0;

    background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -844px -520px;
	width: 18px;
	height: 19px;
    
}

.m-icon-logo{
    background-image: url(/assets/img/favicon.ico);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}
.m-icon-refresh{
    background-image: url(/assets/icon/refresh.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}
.m-icon-search{
    background-image: url(/assets/icon/search.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 200px center;
}
.m-icon-tongquan{
    background-image: url(/assets/icon/dashboard.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.m-icon-tien-mat{
    background: url(/assets/img/Sprites.64af8f61.svg) no-repeat -78px -1631px;
}
.m-icon-tien-gui{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -121px -1633px;
}
.m-icon-mua-hang{
    background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -165px -1632px;
}
.m-icon-ban-hang{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -206px -1631px;
}
.m-icon-quan-ly-hd{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -254px -1632px;
}
.m-icon-kho{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -294px -1632px;
}
.m-icon-cong-cu{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -339px -1633px;
}
.m-icon-tai-san{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -382px -1632px;
}
.m-icon-thue{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -427px -1634px;
}
.m-icon-gia-thanh{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -470px -1633px;
}
.m-icon-tong-hop{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -514px -1632px;
}
.m-icon-ngan-sach{
    background: url('/assets/img/Sprites.64af8f61.svg')  no-repeat -552px -1636px;
}
.m-icon-phan-tich-tai-chinh{
    background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -636px -1631px;
}

.m-icon-document{
    background-image: url(/assets/icon/document-online.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.m-icon-employees{
    background-image: url(/assets/icon/dic-employee.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.m-icon-report{
    background-image: url(/assets/icon/report.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.m-icon-default-avatar{
    background-image: url(/assets/img/default-avatar.jpg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}
.m-icon-cancel{
    background-image: url(/assets/icon/x.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}


