.m-dialog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 150, 228, 0.452);
    display: none;
}
.m-dialog .m-dialog-content{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: blanchedalmond;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
}