.m-page{
    height: 56px;
    display: flex;
    justify-content: center;
    /* border-width: 1px;
    border-radius: 4px;
    border-color: #bbb; */
    /* color: #fff; */
    position: relative;
    width: 100%;
    align-items: center;
}
.m-page .m-page-left{
    position: absolute;
    left: 0px;
}
.m-page .m-page-right{
    position: absolute;
    right: 0px;

}
.m-page button{
   
    color: #333;
    border: none;
    width: 24px;
    height: 24px;
   
}
.m-page button:hover{
    background-color: black;
}
.m-page .m-page-selected{
    border: 1px solid #333;
}
.m-page-grid{
    position: relative;
}
.m-page-grid .m-page{
    position: absolute;
    bottom: 0;
 }
 .m-page .m-page-right{
    display: flex;
    align-items: center;
 }
 .m-page .m-page-right .m-number-page{
    
 }
 .m-page .m-page-right .m-number{
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
 } 
 .m-page label{
    margin-left: 12px;
    margin-right: 12px;
 }


