.m-page{
    height: 56px;
    display: flex;
    justify-content: center;
    /* border-width: 1px;
    border-radius: 4px;
    border-color: #bbb; */
    /* color: #fff; */
    position: relative;
    width: 100%;
    align-items: center;
}
.m-page .m-page-left{
    position: absolute;
    left: 0px;
}
.m-page .m-page-right{
    position: absolute;
    right: 0px;

}
.m-page button{
    background-color: rgb(60, 212, 14);
    color: white;
    border: 1px solid #333;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.m-page button:hover{
    background-color: black;
}
.m-page .m-page-selected{
    background-color:blue ;
}
.m-page-grid{
    position: relative;
}
.m-page-grid .m-page{
    position: absolute;
    bottom: 0;
 }
